.App {
  background-image: url(/public/images/currency.png);
  background-position: center;
  background-size: cover;
}

.container{
  max-width:800px;
  background-color: rgb(122, 195, 178);
  margin-top:50px;
  margin-bottom: 20px;
  display:block;
  
}
.App-header{
  background-image: url(/public/images/currency.png);
  background-position: center;
  background-size: cover;
  margin-top:20px;
}
.App-header h1{
  text-align: center;
  color: rgb(17, 3, 3);
}




