.App {
  background-image: url(/public/images/currency.png);
  background-position: center;
  background-size: cover;
}

.container{
  max-width:800px;
  background-color: antiquewhite;
  margin-top:50px;
  margin-bottom: 20px;
  display:block;
  
}

.App-header h1{
  text-align: center;
  color: white;
}




